<header id="about">
  <img
    id="profile-picture"
    src="https://media.licdn.com/dms/image/D4E03AQGs9TrjB5Vjuw/profile-displayphoto-shrink_200_200/0/1721764852239?e=2147483647&v=beta&t=Si1cCtsaubs1wpdOUYxgcmBZzNYVRmMA6Vn6MaEc43I"
    alt="Profile Picture"
  />
  <section>
    <h1>Marcos López</h1>
    <h3>
      Desarrollador Full Stack
      <i>
        <mat-icon class="material-icons-outlined" color="primary"
          >keyboard</mat-icon
        >
        <mat-icon class="material-icons-outlined" color="primary"
          >mouse</mat-icon
        >
      </i>
    </h3>
  </section>
</header>

<hr />

<p>
  Ingeniero en Sistemas Computacionales graduado por la Escuela Superior de
  Cómputo (ESCOM) del Instituto Politécnico Nacional en México. Apasionado por
  el desarrollo web y con +5 años de experiencia. Actualmente me desempeño como
  desarrollador Back End Senior en Palo IT y me encuentro estudiando la maestría
  en Inteligencia Artificial por la Universidad Internacional de la Rioja. Me
  considero una persona entusiasta, alegre y dispuesto a colaborar con otras
  personas para lograr los objetivos del proyecto. Tengo el compromiso personal
  y el ideal de capacitarme continuamente para mantenerme actualizado y ofrecer
  un trabajo de calidad.
</p>
<br />
<h2 id="studies">Formación</h2>

<hr />

<article>
  @for (item of studies; track $index) {
  <mat-card class="mat-elevation-z8">
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>
    <p>{{ item.date }}</p>
  </mat-card>
  }
</article>
