<header id="home-header">
  <img
    id="profile-picture"
    src="https://cutt.ly/twHuBfqB"
    alt="Profile Picture"
  />
  <section>
    <h1>Marcos Miguel López Hernández</h1>
    <h2>Ingeniero en Sistemas Computacionales</h2>
  </section>
  <nav>
    <a href="#about">
      <span class="material-symbols-outlined"> person </span>
      Acerca de mí
    </a>
    <a href="#projects">
      <span class="material-symbols-outlined"> work </span>
      Proyectos
    </a>
    <a href="#contact">
      <span class="material-symbols-outlined"> speaker_notes </span>
      Contacto
    </a>
  </nav>
</header>
