<h2 id="skills">Habilidades</h2>
<hr />
<p>
  En los proyectos en los cuales he colaborado, me he enfrentado a retos
  particulares y para cada uno de ellos se ha elegido un stack tecnológico en
  específico para implementar la solución. Algunas de éstos lenguajes,
  frameworks, bases de datos y herramientas son:
</p>
<br />
<article>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Lenguajes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (item of languages | keyvalue; track $index) {
      <figure>
        <img [src]="item.value" [alt]="item.value" />
        <figcaption>{{ item.key }}</figcaption>
      </figure>
      }
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Frameworks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (item of frameworks | keyvalue; track $index) {
      <figure>
        <img [src]="item.value" [alt]="item.value" />
        <figcaption>{{ item.key }}</figcaption>
      </figure>
      }
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Bases de datos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (item of db | keyvalue; track $index) {
      <figure>
        <img [src]="item.value" [alt]="item.value" />
        <figcaption>{{ item.key }}</figcaption>
      </figure>
      }
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Herramientas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (item of tools | keyvalue; track $index) {
      <figure>
        <img [src]="item.value" [alt]="item.value" />
        <figcaption>{{ item.key }}</figcaption>
      </figure>
      }
    </mat-card-content>
  </mat-card>
</article>