<h2 id="contact">Contacto</h2>
<hr />
<section>
  <p>Si te interesa colaborar conmigo puedes enviar un correo a:</p>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Correo electrónico</mat-label>
    <input matInput value="marcoslp36@gmail.com" readonly />
    <!-- <mat-icon color="primary" (click)="copy()" matSuffix>content_copy</mat-icon>
    <mat-icon color="primary" matSuffix>send</mat-icon> -->
  </mat-form-field>
  <iframe
    src="https://onedrive.live.com/embed?resid=DC440B33D2DD005B%2143303&authkey=!AIMMFE76VSAp6Bg&em=2"
    frameborder="0"
    scrolling="no"
  ></iframe>
  <p>Otros medios de contacto:</p>
  <footer>
    <a (click)="goTo('https://github.com/mlopezh1108')">
      <img
        width="45"
        height="45"
        src="https://img.icons8.com/color/96/github--v1.png"
        alt="github--v1"
      />
      GitHub
    </a>
    <a (click)="goTo('https://www.linkedin.com/in/mlopezh1108')">
      <img
        width="45"
        height="45"
        src="https://img.icons8.com/color/96/linkedin.png"
        alt="linkedin"
      />
      LinkedIn
    </a>
  </footer>
</section>
