/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  @apply p-0 m-0;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply w-dvw h-dvh bg-[#0f0f0f] overflow-x-hidden;
}

.close {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 21px #0fa,
    0 0 41px #0fa, 0 0 46px #0fa, 0 0 51px #0fa, 0 0 75px #0fa;
}

.circle {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 21px #bc13fe,
    0 0 41px #bc13fe, 0 0 46px #bc13fe, 0 0 51px #bc13fe, 0 0 75px #bc13fe;
}

// @media (min-width: 640px) {
//   .close {
//     color: #fff;
//     text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
//       0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
//   }

//   .circle {
//     color: #fff;
//     text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
//       0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
//   }
// }
