/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  @apply p-0 m-0 scroll-smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply w-dvw h-dvh bg-[#0f0f0f] overflow-x-hidden;
}

.close {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 11px #fff, 0 0 11px #0fa,
    0 0 20px #0fa, 0 0 23px #0fa, 0 0 25px #0fa, 0 0 38px #0fa;
}

.circle {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 11px #fff, 0 0 11px #bc13fe,
    0 0 20px #bc13fe, 0 0 23px #bc13fe, 0 0 25px #bc13fe, 0 0 38px #bc13fe;
}
